№1

In [69]:
import pandas as pd

In [70]:
data = pd.read_csv('ml-latest-small/movies.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [71]:
data1 =pd.read_csv('ml-latest-small/ratings.csv')
data1.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [72]:
joined = data1.merge(data, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [73]:
films_rating = joined.groupby('title').mean().reset_index()[['title', 'rating']]
films_rating.head()

                                     title    rating
0         "Great Performances" Cats (1998)  1.750000
1                             $9.99 (2008)  3.833333
2  'Hellboy': The Seeds of Creation (2004)  2.000000
3          'Neath the Arizona Skies (1934)  0.500000
4                   'Round Midnight (1986)  2.250000

In [74]:
def level_rating(row):
    """Классификация фильмов"""
    if row['rating'] <=2.0:
        return 'низкий рейтинг'
    elif 2 < row['rating'] <=4.0:
        return 'средний рейтинг'
    elif row['rating'] > 4.0:
        return 'высокий рейтинг'

In [76]:
films_rating['class']=films_rating.apply(level_rating, axis=1)
films_rating.head()

                                     title    rating            class
0         "Great Performances" Cats (1998)  1.750000   низкий рейтинг
1                             $9.99 (2008)  3.833333  средний рейтинг
2  'Hellboy': The Seeds of Creation (2004)  2.000000   низкий рейтинг
3          'Neath the Arizona Skies (1934)  0.500000   низкий рейтинг
4                   'Round Midnight (1986)  2.250000  средний рейтинг

№2

In [47]:
keywords_df= pd.read_csv('ml-latest-small/keywords.csv')
keywords_df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [56]:
def rule_filter(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [77]:
keywords_df['region'] = keywords_df.apply(rule_filter, axis=1)
keywords_df['region'].value_counts()

undefined         99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64