Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

Задание 1. 

Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

Задание 2. 

Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Задание 3. 

Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

№1

In [1]:
import pandas as pd
import numpy as np

In [143]:
df = pd.read_csv('part education/практика_и_дз/horse_data.csv')

# какие типы признаков в нашем датафрейме?
df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [144]:
#добавляем заголовки в соответвии с описанием
Cov = pd.read_csv('part education/практика_и_дз/horse_data.csv', na_values=['?'])
Frame=pd.DataFrame(Cov.values, columns = ['surgery?', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination-feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion?', 'first_number_is_site_of_lesion', 'second_number_is_type', 'third_number_is_subtype', 'cp_data'])
Frame.head()

,surgery?,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion?,first_number_is_site_of_lesion,second_number_is_type,third_number_is_subtype,cp_data
0,1.0,1.0,534817.0,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2.0,2208.0,0.0,0.0,2.0
1,2.0,1.0,530334.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2.0,0.0,0.0,0.0,1.0
2,1.0,9.0,5290409.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1.0,2208.0,0.0,0.0,1.0
3,2.0,1.0,530255.0,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2.0,4300.0,0.0,0.0,2.0
4,2.0,1.0,528355.0,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2.0,0.0,0.0,0.0,2.0

In [145]:
#оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, 
#respiratory rate, temperature of extremities, pain, outcome.
df_only8 = Frame[['surgery?', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain','outcome']]
df_only8.head(20)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1.0,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1.0,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1.0,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1.0,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1.0,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1.0,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9.0,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1.0,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1.0,39.1,72.0,52.0,2.0,2.0,1.0
11,1.0,1.0,37.2,42.0,12.0,2.0,3.0,1.0
12,2.0,9.0,38.0,92.0,28.0,1.0,1.0,2.0
13,1.0,1.0,38.2,76.0,28.0,3.0,3.0,1.0
14,1.0,1.0,37.6,96.0,48.0,3.0,5.0,2.0
15,1.0,9.0,NaN,128.0,36.0,3.0,4.0,2.0
16,2.0,1.0,37.5,48.0,24.0,NaN,NaN,1.0
17,1.0,1.0,37.6,64.0,21.0,1.0,2.0,1.0
18,2.0,1.0,39.4,110.0,35.0,4.0,NaN,1.0
19,1.0,1.0,39.9,72.0,60.0,1.0,5.0,1.0

№2

Минимум, максимум и размах

In [5]:
print(df_only8.max())

surgery?                        2.0
Age                             9.0
rectal_temperature             40.8
pulse                         184.0
respiratory_rate               96.0
temperature_of_extremities      4.0
pain                            5.0
outcome                         3.0
dtype: float64

In [6]:
print(df_only8.min())

surgery?                       1.0
Age                            1.0
rectal_temperature            35.4
pulse                         30.0
respiratory_rate               8.0
temperature_of_extremities     1.0
pain                           1.0
outcome                        1.0
dtype: float64

In [7]:
# размах – разница между минимальным и максимальным значением
print('Значение размаха surgery?: ', df_only8['surgery?'].max() - df_only8['surgery?'].min())
print('Значение размаха Age: ', df_only8['Age'].max() - df_only8['Age'].min())
print('Значение размаха rectal temperature: ', df_only8['rectal_temperature'].max() - df_only8['rectal_temperature'].min())
print('Значение размаха pulse: ', df_only8['pulse'].max() - df_only8['pulse'].min())
print('Значение размаха respiratory rate: ', df_only8['respiratory_rate'].max() - df_only8['respiratory_rate'].min())
print('Значение размаха temperature of extremities: ', df_only8['temperature_of_extremities'].max() - df_only8['temperature_of_extremities'].min())
print('Значение размаха pain: ', df_only8['pain'].max() - df_only8['pain'].min())
print('Значение размаха outcome: ', df_only8['outcome'].max() - df_only8['outcome'].min())

Значение размаха surgery?:  1.0
Значение размаха Age:  8.0
Значение размаха rectal temperature:  5.399999999999999
Значение размаха pulse:  154.0
Значение размаха respiratory rate:  88.0
Значение размаха temperature of extremities:  3.0
Значение размаха pain:  4.0
Значение размаха outcome:  2.0

Среднеарифметическое

In [8]:
print(df_only8.mean())

surgery?                       1.395973
Age                            1.642140
rectal_temperature            38.166527
pulse                         71.934545
respiratory_rate              30.427386
temperature_of_extremities     2.345679
pain                           2.942623
outcome                        1.550336
dtype: float64

Мода

In [9]:
print('Значение моды surgery?: ', df_only8['surgery?'].round().mode()[0])
print('Значение моды Age: ', df_only8['Age'].round().mode()[0])
print('Значение моды rectal temperature: ', df_only8['rectal_temperature'].round().mode()[0])
print('Значение моды pulse: ', df_only8['pulse'].round().mode()[0])
print('Значение моды respiratory rate: ', df_only8['respiratory_rate'].round().mode()[0])
print('Значение моды temperature of extremities: ', df_only8['temperature_of_extremities'].round().mode()[0])
print('Значение моды pain: ', df_only8['pain'].round().mode()[0])
print('Значение моды outcome: ', df_only8['outcome'].round().mode()[0])

Значение моды surgery?:  1.0
Значение моды Age:  1.0
Значение моды rectal temperature:  38.0
Значение моды pulse:  48.0
Значение моды respiratory rate:  20.0
Значение моды temperature of extremities:  3.0
Значение моды pain:  3.0
Значение моды outcome:  1.0

Медиана

In [10]:
print(df_only8.median())

surgery?                       1.0
Age                            1.0
rectal_temperature            38.2
pulse                         64.0
respiratory_rate              24.0
temperature_of_extremities     3.0
pain                           3.0
outcome                        1.0
dtype: float64

СКО

In [11]:
print(np.std(df_only8, ddof=1))

surgery?                       0.489881
Age                            2.177300
rectal_temperature             0.733508
pulse                         28.680522
respiratory_rate              17.678256
temperature_of_extremities     1.046369
pain                           1.303993
outcome                        0.737967
dtype: float64

Дисперсия

In [12]:
print(df_only8.var())

surgery?                        0.239984
Age                             4.740634
rectal_temperature              0.538035
pulse                         822.572342
respiratory_rate              312.520747
temperature_of_extremities      1.094888
pain                            1.700398
outcome                         0.544596
dtype: float64

Квантили

In [13]:
# это же медиана!
df_only8.quantile()

surgery?                       1.0
Age                            1.0
rectal_temperature            38.2
pulse                         64.0
respiratory_rate              24.0
temperature_of_extremities     3.0
pain                           3.0
outcome                        1.0
Name: 0.5, dtype: float64

In [14]:
# первый и третий квартили
df_only8.quantile([0.25, 0.75])

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0.25,1.0,1.0,37.8,48.0,18.0,1.0,2.0,1.0
0.75,2.0,1.0,38.5,88.0,36.0,3.0,4.0,2.0

In [15]:
# произвольный перцентиль
df_only8.quantile(0.33)

surgery?                       1.0
Age                            1.0
rectal_temperature            37.9
pulse                         52.0
respiratory_rate              20.0
temperature_of_extremities     2.0
pain                           2.0
outcome                        1.0
Name: 0.33, dtype: float64

In [16]:
# межквартильный размах
Q1 = df_only8.quantile(0.25)
Q3 = df_only8.quantile(0.75)
IQR = Q3 - Q1
IQR

surgery?                       1.0
Age                            0.0
rectal_temperature             0.7
pulse                         40.0
respiratory_rate              18.0
temperature_of_extremities     2.0
pain                           2.0
outcome                        1.0
dtype: float64

Выбросы

In [17]:
#А теперь найдем выбросы через межквартльный размах
q1 = df_only8['respiratory_rate'].quantile(0.25)
q3 = df_only8['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
iqr
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_only8[df_only8['respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1.0,39.2,88.0,20.0,NaN,3.0,3.0
192,1.0,1.0,NaN,60.0,48.0,3.0,4.0,2.0
193,2.0,1.0,37.9,88.0,24.0,1.0,2.0,1.0
194,2.0,1.0,38.0,44.0,12.0,3.0,NaN,1.0
195,2.0,1.0,38.5,60.0,20.0,1.0,2.0,3.0
...,...,...,...,...,...,...,...,...
15,1.0,9.0,NaN,128.0,36.0,3.0,4.0,2.0
134,1.0,9.0,38.1,136.0,48.0,3.0,5.0,2.0
54,1.0,9.0,38.6,160.0,20.0,3.0,3.0,2.0
211,1.0,9.0,38.9,120.0,30.0,1.0,3.0,1.0
190,2.0,9.0,NaN,100.0,44.0,2.0,4.0,1.0

In [18]:
# что это за выброс?
pd.concat([df_only8, remove_outliers]).drop_duplicates(keep=False)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,9.0,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1.0,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1.0,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,9.0,38.3,90.0,NaN,1.0,5.0,1.0
28,2.0,1.0,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
270,1.0,1.0,37.7,80.0,NaN,3.0,5.0,1.0
273,1.0,1.0,NaN,76.0,NaN,NaN,NaN,3.0
280,2.0,1.0,40.0,78.0,NaN,3.0,2.0,2.0
283,2.0,1.0,38.5,54.0,NaN,1.0,3.0,1.0
294,1.0,1.0,NaN,120.0,70.0,4.0,2.0,3.0

In [19]:
print(remove_outliers['respiratory_rate'].mean())
print(remove_outliers['respiratory_rate'].median())

26.709821428571427
24.0

№3

Пропуски

In [41]:
df_only8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    float64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [22]:
(df_only8.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

Игнорирование пропусков

In [23]:
# все методы pandas по-умолчанию просто не берут в расчет пропуски
print(df_only8.rectal_temperature.mean())
print(df_only8.rectal_temperature.median())
print(df_only8.rectal_temperature.mode()[0])

print(df_only8.rectal_temperature.std())
print(df_only8.rectal_temperature.var())

38.166527196652744
38.2
38.0
0.7335083691537396
0.5380345276185787

In [24]:
print(df_only8.pulse.mean())
print(df_only8.pulse.median())
print(df_only8.pulse.mode()[0])

print(df_only8.pulse.std())
print(df_only8.pulse.var())

71.93454545454546
64.0
48.0
28.68052200365475
822.5723424021243

In [25]:
print(df_only8.respiratory_rate.mean())
print(df_only8.respiratory_rate.median())
print(df_only8.respiratory_rate.mode()[0])

print(df_only8.respiratory_rate.std())
print(df_only8.respiratory_rate.var())

30.42738589211618
24.0
20.0
17.67825633053121
312.5207468879668

In [26]:
print(df_only8.temperature_of_extremities.mean())
print(df_only8.temperature_of_extremities.median())
print(df_only8.temperature_of_extremities.mode()[0])

print(df_only8.temperature_of_extremities.std())
print(df_only8.temperature_of_extremities.var())

2.345679012345679
3.0
3.0
1.0463690920064774
1.09488827670646

In [27]:
print(df_only8.pain.mean())
print(df_only8.pain.median())
print(df_only8.pain.mode()[0])

print(df_only8.pain.std())
print(df_only8.pain.var())

2.942622950819672
3.0
3.0
1.3039931096782595
1.7003980300883774

Удаление строк с пропусками

In [40]:
df_only8.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 1 to 297
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    174 non-null    float64
 1   Age                         174 non-null    float64
 2   rectal_temperature          174 non-null    float64
 3   pulse                       174 non-null    float64
 4   respiratory_rate            174 non-null    float64
 5   temperature_of_extremities  174 non-null    float64
 6   pain                        174 non-null    float64
 7   outcome                     174 non-null    float64
dtypes: float64(8)
memory usage: 12.2 KB

In [29]:
# посмотрите на сколько исказились статистики, если мы удалим все строки с пропусками
print(df_only8.dropna()['rectal_temperature'].mean())
print(df_only8.dropna()['rectal_temperature'].median())
print(df_only8.dropna()['rectal_temperature'].mode()[0])

print(df_only8.dropna()['rectal_temperature'].std())
print(df_only8.dropna()['rectal_temperature'].var())

38.161437908496744
38.2
38.0
0.7337829328220027
0.5384373925008596

In [80]:
#как мы видим значительных изменений по столбцу rectal_temperature у нас не произошло, проверяем остальные столбцы с пропусками

In [81]:
print(df_only8.dropna()['pulse'].mean())
print(df_only8.dropna()['pulse'].median())
print(df_only8.dropna()['pulse'].mode()[0])

print(df_only8.dropna()['pulse'].std())
print(df_only8.dropna()['pulse'].var())

70.87581699346406
60.0
48.0
29.70431482511332
882.346319229447

In [82]:
#немного исказились данынные по mean, median, std на столбце pulse, после удаления всех строк из дата фрейма

In [30]:
print(df_only8.dropna()['respiratory_rate'].mean())
print(df_only8.dropna()['respiratory_rate'].median())
print(df_only8.dropna()['respiratory_rate'].mode()[0])

print(df_only8.dropna()['respiratory_rate'].std())
print(df_only8.dropna()['respiratory_rate'].var())

29.66013071895425
26.0
16.0
16.174689209855984
261.6205710354316

In [85]:
#искажаются весомо значения var и mode на столбце respiratory_rate, 
#после удаления всех строк из дата фрейма из чего можно сделать вывод
#что нам не подходит метот удаления пропусков

In [46]:
# мы не можем исключать, что средняя частота дыхания зависит от возраста лошади
print(df_only8.groupby('Age')['respiratory_rate'].mean())
#df_only8['respiratory_rate'].fillna(df_only8.groupby('Age')['respiratory_rate'].transform('mean'), inplace=True)

Age
1.0    28.239819
9.0    54.600000
Name: respiratory_rate, dtype: float64

In [52]:
print(df_only8.groupby('Age')['respiratory_rate'].median())

Age
1.0    24.0
9.0    49.0
Name: respiratory_rate, dtype: float64

In [49]:
# возможно так же зависи от боли и была ли операция - попадает не определенное значение по свяке 9 лет боль 5 и операции не было
# скорее всего исход так же связан с частотой дыхания 
print(df_only8.groupby(['Age','pain','surgery?','outcome'])['respiratory_rate'].mean())

Age  pain  surgery?  outcome
1.0  1.0   1.0       1.0        18.285714
           2.0       1.0        22.380952
                     2.0        18.000000
                     3.0        20.000000
     2.0   1.0       1.0        36.636364
                     2.0        28.250000
                     3.0        41.500000
           2.0       1.0        24.941176
                     2.0        36.000000
                     3.0        21.000000
     3.0   1.0       1.0        23.740741
                     2.0        36.000000
                     3.0        20.000000
           2.0       1.0        26.588235
                     2.0        21.333333
                     3.0        44.000000
     4.0   1.0       1.0        36.166667
                     2.0        28.090909
                     3.0        28.000000
           2.0       1.0        25.000000
                     2.0        48.000000
                     3.0        24.000000
     5.0   1.0       1.0        31.285714
                     2.0        30.600000
                     3.0        30.666667
           2.0       1.0        24.000000
                     2.0        29.000000
9.0  1.0   2.0       2.0        28.000000
     2.0   1.0       1.0        74.000000
                     2.0        60.000000
                     3.0              NaN
     3.0   1.0       1.0        59.333333
                     2.0        30.000000
     4.0   1.0       2.0        60.000000
           2.0       1.0        44.000000
     5.0   1.0       2.0        49.000000
           2.0       1.0              NaN
Name: respiratory_rate, dtype: float64

In [80]:
print(df_only8.groupby(['Age','surgery?'])['respiratory_rate'].mean())
print('-----------------------------------')
print(df_only8.groupby(['Age','surgery?'])['respiratory_rate'].median())

Age  surgery?
1.0  1.0         30.356589
     2.0         25.329670
9.0  1.0         59.333333
     2.0         40.400000
Name: respiratory_rate, dtype: float64
-----------------------------------
Age  surgery?
1.0  1.0         24.0
     2.0         24.0
9.0  1.0         60.0
     2.0         30.0
Name: respiratory_rate, dtype: float64

In [60]:
print(df_only8.groupby(['Age','pain'])['respiratory_rate'].median()) 
print('-----------------------------------')
print(df_only8.groupby(['Age','pain'])['respiratory_rate'].mean())

Age  pain
1.0  1.0     20.0
     2.0     28.0
     3.0     24.0
     4.0     27.5
     5.0     29.0
9.0  1.0     28.0
     2.0     72.0
     3.0     40.0
     4.0     44.0
     5.0     49.0
Name: respiratory_rate, dtype: float64
-----------------------------------
Age  pain
1.0  1.0     21.200000
     2.0     30.375000
     3.0     25.905660
     4.0     29.535714
     5.0     30.423077
9.0  1.0     28.000000
     2.0     67.000000
     3.0     47.600000
     4.0     54.666667
     5.0     49.000000
Name: respiratory_rate, dtype: float64

In [148]:
#остановилась на медиане и зависимости частоты дыхания от возраста и боли (заполняем значения)
print(df_only8.groupby(['Age','pain'])['respiratory_rate'].median()) 
df_only8['respiratory_rate'].fillna(df_only8.groupby(['Age','pain'])['respiratory_rate'].transform('median'), inplace=True)

Age  pain
1.0  1.0     20.0
     2.0     28.0
     3.0     24.0
     4.0     27.5
     5.0     29.0
9.0  1.0     28.0
     2.0     72.0
     3.0     40.0
     4.0     44.0
     5.0     49.0
Name: respiratory_rate, dtype: float64

In [147]:
# rectal_temperature может зависеть от того былали операция, исход и боль
print(df_only8.groupby(['surgery?','outcome','pain'])['rectal_temperature'].median()) 
df_only8['rectal_temperature'].fillna(df_only8.groupby(['surgery?','outcome','pain'])['rectal_temperature'].transform('median'), inplace=True)

surgery?  outcome  pain
1.0       1.0      1.0     38.10
                   2.0     38.30
                   3.0     38.10
                   4.0     38.25
                   5.0     37.90
          2.0      2.0     38.90
                   3.0     37.80
                   4.0     38.10
                   5.0     38.00
          3.0      2.0     38.10
                   3.0     39.20
                   4.0     38.15
                   5.0     38.05
2.0       1.0      1.0     38.30
                   2.0     38.20
                   3.0     38.20
                   4.0     38.00
                   5.0     38.30
          2.0      1.0     37.30
                   2.0     40.00
                   3.0     38.00
                   4.0     37.20
                   5.0     38.60
          3.0      1.0     37.60
                   2.0     38.35
                   3.0     37.00
                   4.0     38.15
Name: rectal_temperature, dtype: float64

In [149]:
# пульс может зависеть от того былали операция и какой возраст + исход
print(df_only8.groupby(['surgery?','Age','outcome'])['pulse'].median()) 
df_only8['pulse'].fillna(df_only8.groupby(['surgery?','Age','outcome'])['pulse'].transform('median'), inplace=True)

surgery?  Age  outcome
1.0       1.0  1.0         60.0
               2.0         73.5
               3.0         79.0
          9.0  1.0        122.0
               2.0        146.0
               3.0        100.0
2.0       1.0  1.0         50.0
               2.0         92.0
               3.0         85.0
          9.0  1.0         90.0
               2.0         92.0
Name: pulse, dtype: float64

In [150]:
#temperature_of_extremities может зависеть от темпиратуры тела и операци 
print(df_only8.groupby(['surgery?','rectal_temperature'])['temperature_of_extremities'].median())
df_only8['temperature_of_extremities'].fillna(df_only8.groupby(['surgery?','rectal_temperature'])['temperature_of_extremities'].transform('median'), inplace=True)

surgery?  rectal_temperature
1.0       35.4                  3.0
          36.4                  3.0
          36.5                  2.0
          36.8                  NaN
          37.0                  1.0
                               ...
2.0       39.4                  4.0
          39.5                  3.0
          39.6                  3.0
          40.0                  3.0
          40.3                  3.0
Name: temperature_of_extremities, Length: 65, dtype: float64

In [163]:
# pain может зависеть от темпиратуры тела, наличия операции и исхода + темпиратуры конечностей
print(df_only8.groupby(['surgery?','rectal_temperature','outcome'])['pain'].median())
df_only8['pain'].fillna(df_only8.groupby(['surgery?','rectal_temperature','outcome'])['pain'].transform('median'), inplace=True)

surgery?  rectal_temperature  outcome
1.0       35.4                3.0        4.0
          36.4                2.0        4.0
          36.5                1.0        4.0
          36.8                2.0        NaN
          37.0                2.0        4.0
                                        ...
2.0       39.5                3.0        3.0
          39.6                1.0        2.0
          40.0                2.0        2.0
          40.3                2.0        2.0
                              3.0        2.0
Name: pain, Length: 113, dtype: float64

In [162]:
df_only8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    float64
 2   rectal_temperature          284 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            285 non-null    float64
 5   temperature_of_extremities  286 non-null    float64
 6   pain                        271 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [166]:
# не большое количество недозаполненых сткок удаляем, так как нам не хватате данных для их дозаполнения(и после удаления строк значения по метрикам ближе, чем без удаления к первоначальным) 
df_only8.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 297
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    267 non-null    float64
 1   Age                         267 non-null    float64
 2   rectal_temperature          267 non-null    float64
 3   pulse                       267 non-null    float64
 4   respiratory_rate            267 non-null    float64
 5   temperature_of_extremities  267 non-null    float64
 6   pain                        267 non-null    float64
 7   outcome                     267 non-null    float64
dtypes: float64(8)
memory usage: 18.8 KB

In [170]:
print(df_only8.pulse.mean())
print(df_only8.pulse.median())
print(df_only8.pulse.mode()[0])

print(df_only8.pulse.std())
print(df_only8.pulse.var())

print('---------')

print(df_only8.dropna()['pulse'].mean())
print(df_only8.dropna()['pulse'].median())
print(df_only8.dropna()['pulse'].mode()[0])

print(df_only8.dropna()['pulse'].std())
print(df_only8.dropna()['pulse'].var()) 

""" изначально с пропусками было вот такое значение
71.93454545454546
64.0
48.0
28.68052200365475
822.5723424021243"""

71.96321070234114
64.0
60.0
28.238711310936907
797.424816502436
---------
71.78651685393258
64.0
48.0
28.378969462383505
805.3659077468955

' изначально с пропусками было вот такое значение\n71.93454545454546\n64.0\n48.0\n28.68052200365475\n822.5723424021243'